<!-- Navbar Start-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a style="color:white;" class="navbar-brand" href="#">道路附属物管理システム</a>
    </div>
</div>
<!-- End of Navber -->
<div class="row" style="padding-top: 55px;">
    <!--div style="padding-left:160px"-->
    <div class="h_main2" style="margin-left:-15px;">
        {{shisetsu.title}}
    </div>
</div>
<div class="row">
    <div class="row" style="font-weight: bold;margin:30px 0 20px 0;">
        <div class="col-sm-1">
        </div>
        {{shisetsu.kanrisya.dogen_mei}}建設管理部&nbsp;&nbsp;&nbsp;{{shisetsu.kanrisya.syucchoujo_mei}}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 form-inline">
                    <div class="form-group">
                        <label class="margin">
                            <p class="label">施設名</p>
                        </label>
                        <div>
                            <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.shisetsu_kbn_row" ng-options="row as row.shisetsu_kbn_nm for row in shisetsu.shisetsu_kbn_dat" style="width:auto; text-align: left" ng-change="shisetsu.shisetsuChange()" ng-disabled="shisetsu.idPhase==false">
                                <option value="">---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="margin">
                            <p class="label">形式</p>
                        </label>
                        <div>
                            <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.keishiki_row" ng-options="krow as krow.shisetsu_keishiki_nm for krow in shisetsu.data.shisetsu_kbn_row.keishiki_row.keishiki_info" style="width:auto; text-align: left" ng-disabled="shisetsu.idPhase==false">
                                <option value="">---</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 form-inline">
                    <div class="form-group input-append text-left">
                        <label class="form-control-label text-center margin">
                            <p class="label">施設管理番号</p>
                        </label>
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" ng-model="shisetsu.data.shisetsu_cd" class="form-control input-sm ime_eisu" style="width:8em; text-align: left;" ng-readonly="!shisetsu.idPhase">
                                <p class="label">-</p>
                                <input type="text" ng-model="shisetsu.data.shisetsu_cd_idx" class="form-control input-sm" style="width:8em; text-align: left" ng-readonly="!shisetsu.idPhase">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!shisetsu.idPhase">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">路線名</p>
                            </label>
                            <div class="form-inline">
                                <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.rosen_cd" ng-options="rosen.rosen_cd as rosen.rosen_nm for rosen in shisetsu.rosen_dat" style="width:auto; text-align: left">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">測点</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="Number" ng-model="shisetsu.data.sp" class="form-control input-sm" style="width:9em; text-align: left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">キロポスト</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="Number" ng-model="shisetsu.data.kp" class="form-control input-sm" style="width:15em; text-align: left">
                                </div>
                            </div>
                        </div>
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">横断区分</p>
                            </label>
                            <div class="form-inline">
                                <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.lr" ng-options="lr.id as lr.label for lr in shisetsu.mst_lr" style="width:auto; text-align: left">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">設置年度</p>
                            </label>
                            <div class="form-inline">
                                <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.secchi_row" ng-options="nendo as nendo.gengou for nendo in shisetsu.nendo_secchi" style="width:auto; text-align: left">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group input-append text-left" ng-show="shisetsu.kbn==1">
                            <label class="form-control-label text-center margin">
                                <p class="label">廃止年度</p>
                            </label>
                            <div class="form-inline">
                                <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.haishi_row" ng-options="nendo2 as nendo2.gengou for nendo2 in shisetsu.nendo_haishi" style="width:auto; text-align: left">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">所在地</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" ng-model="shisetsu.data.shityouson" class="form-control input-sm" placeholder="市区町村" style="width:11em; text-align: left">
                                </div>
                                <div class="form-group">
                                    <input type="text" ng-model="shisetsu.data.azaban" class="form-control input-sm" placeholder="字番" style="width:16em; text-align: left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">設置位置</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-inline">
                                    <button type="button" class="btn btn-sm btn-default btn-group-justified text-center" ng-click="shisetsu.openMap()" style="width:8em;">
                                        <span class="glyphicon glyphicon-flag"></span>　地図表示
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label"> 緯度</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="number" ng-model="shisetsu.data.lat" class="form-control input-sm" style="width:9em; text-align: left">
                                </div>
                            </div>
                        </div>
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label"> 経度</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="number" ng-model="shisetsu.data.lon" class="form-control input-sm" style="width:9em; text-align: left">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group" style="width:10em;">
                            <p class="control-label label2">代替路の有無</p>
                            <div class="radio-inline">
                                <input type="radio" value="0" ng-model="shisetsu.data.substitute_road">有
                            </div>
                            <div class="radio-inline">
                                <input type="radio" value="1" ng-model="shisetsu.data.substitute_road">無
                            </div>
                        </div>
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">緊急輸送道路</p>
                            </label>
                            <div class="form-inline">
                                <select class="form-control input-sm btn-group-justified" ng-model="shisetsu.data.emergency_road" ng-options="road.id as road.label for road in shisetsu.mst_emergency_road" style="text-align: left">
                                    <option value="">---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 form-inline">
                        <div class="form-group" style="width:10em;">
                            <p class="control-label label2">代替路の有無</p>
                            <div class="radio-inline">
                                <input type="radio" value="0" ng-model="shisetsu.data.motorway">自専車
                            </div>
                            <div class="radio-inline">
                                <input type="radio" value="1" ng-model="shisetsu.data.motorway">一般道
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5 form-inline">
                        <div class="form-group input-append text-left">
                            <label class="form-control-label text-center margin">
                                <p class="label">占用物件</p>
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" ng-model="shisetsu.data.senyou" class="form-control input-sm" style="width:27em; text-align: left">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-show="!shisetsu.idPhase">
            <div flow-init="{target: 'api/index.php/PictureAjax/image_upload'}" flow-name="flow" flow-files-submitted="shisetsu.imageUpload($flow);" data-drop="true" data-jqyoui-options jqyoui-droppable="{onOver:'shisetsu.dragOver',onOut:'shisetsu.dragOut',onDrop:'shisetsu.dragDrop(shisetsu.data.image_src)'}" ng-model="shisetsu.data.image_src">
                <span style="font-size:12px">全景写真</span>
                <span ng-show="shisetsu.data.image_src" ng-click="shisetsu.deleteImage();" class="btn btn-xs btn-danger" style="float:right">ファイル削除</span>
                <span class="btn btn-xs btn-info" style="float:right" ng-click="shisetsu.openGenbaSyashin()">現場写真</span>
                <span class="btn btn-xs btn-default" flow-btn style="float:right">ファイル選択</span>
                <div class="drop" flow-drop ng-class="dropClass" flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">
                    <div ng-show="$flow.support && !shisetsu.data.image_src">
                        <p>写真をドラッグしてください。</p>
                    </div>
                    <img ng-show="shisetsu.data.image_src" src="{{shisetsu.data.image_src}}" style="width: 100%;max-width:520px" />
                    <div class="progress progress-striped" ng-show="$flow.isUploading()">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: ($flow.progress() * 100) + '%'}" style="width: 100%;">
                            <span class="sr-only ng-binding">1% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10" ng-show="shisetsu.data.shisetsu_kbn_row.shisetsu_kbn==4">
                    <div style="font-weight: bold;">
                        支柱 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button " class="btn btn-xs btn-success " ng-click="shisetsu.ClickCreateIdx() ">新規追加</button>
                        <span ng-show="shisetsu.data.bs_row.bs_info!=null && shisetsu.data.bs_row.bs_info.length > 1">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button " class="btn btn-xs btn-success " ng-click="shisetsu.ClickPreviousFunction() " ng-disabled="shisetsu.dipIdx==1 ">←</button>
                                    {{shisetsu.dipIdx}}／{{shisetsu.data.bs_row.bs_info.length-1}}
                                    <button type="button " class="btn btn-xs btn-success " ng-click="shisetsu.ClickNextFunction() " ng-disabled="shisetsu.dipIdx==shisetsu.data.bs_row.bs_info.length-1 ">→</button>
                                </span>
                    </div>
                </div>
            </div>
            <!-- 防雪柵データはstruct_idx=0が本体、1以上がそれぞれの点検単位のデータとする -->
            <div ng-show="shisetsu.data.bs_row.bs_info!=null && shisetsu.data.bs_row.bs_info.length > 1">
                <div ng-repeat="bs in shisetsu.data.bs_row.bs_info " ng-show="$index==shisetsu.dipIdx ">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="form-inline ">
                                        <div class="form-group input-append text-left ">
                                            <label class="form-control-label text-center margin ">
                                                <p class="label ">支柱番号</p>
                                            </label>
                                            <div class="form-inline ">
                                                <div class="form-group ">
                                                    <input type="number " ng-model="bs.struct_no_s " class="form-control input-sm " style="width:10em; text-align: left " ng-readonly="shisetsu.bousetsu_base_cnt>=$index">
                                                    <p class="label ">~</p>
                                                    <input type="number " ng-model="bs.struct_no_e " class="form-control input-sm " style="width:10em; text-align: left" ng-readonly="shisetsu.bousetsu_base_cnt>=$index">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-inline ">
                                        <div class="form-group input-append text-left ">
                                            <label class="form-control-label text-center margin ">
                                                <p class="label ">測点</p>
                                            </label>
                                            <div class="form-inline ">
                                                <div class="form-group ">
                                                    <input type="number" ng-model="bs.sp " class="form-control input-sm " style="width:10em; text-align: left ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-inline ">
                                        <div class="form-group input-append text-left ">
                                            <label class="form-control-label text-center margin ">
                                                <p class="label ">キロポスト</p>
                                            </label>
                                            <div class="form-inline ">
                                                <div class="form-group ">
                                                    <input type="number" ng-model="bs.kp " class="form-control input-sm " style="width:10em; text-align: left ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5" flow-init="{target: 'api/index.php/PictureAjax/image_upload'}" flow-name="flow" flow-files-submitted="shisetsu.imageUpload($flow,bs.struct_idx);" data-drop="true" data-jqyoui-options jqyoui-droppable="{onOver:'shisetsu.dragOver',onOut:'shisetsu.dragOut',onDrop:'shisetsu.dragDrop(bs.image_src,bs.struct_idx)'}" ng-model="bs.image_src">
                                <span style="font-size:12px">各箇所全景</span>
                                <span ng-show="bs.image_src" ng-click="shisetsu.deleteImage(bs.struct_idx);" class="btn btn-xs btn-danger" style="float:right">ファイル削除</span>
                                <span class="btn btn-xs btn-info" style="float:right" ng-click="shisetsu.openGenbaSyashin()">現場写真</span>
                                <span class="btn btn-xs btn-default" flow-btn style="float:right">ファイル選択</span>
                                <div class="drop" flow-drop ng-class="dropClass" flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">
                                    <div ng-show="$flow.support && !bs.image_src">
                                        <p>写真をドラッグしてください。</p>
                                    </div>
                                    <img ng-show="bs.image_src" src="{{bs.image_src}}" style="width: 100%;max-width:520px" />
                                    <div class="progress progress-striped" ng-show="$flow.isUploading()">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: ($flow.progress() * 100) + '%'}" style="width: 100%;">
                                            <span class="sr-only ng-binding">1% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
    <div class="row" ng-show="shisetsu.idPhase" style="margin-top:30px">
    </div>
    <div class="row " style="margin-top:30px;margin-bottom:10px; ">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 form-inline ">
                    <div class="form-group input-append ">
                        <a type="button " class="btn btn-sm btn-danger btn-group-justified text-center " ng-click="shisetsu.location( ' #/main '); " style="width:12em; "><span class="glyphicon glyphicon-arrow-left "></span>　戻る
                        </a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group input-append text-center ">
                        <button type="button " class="btn btn-sm btn-info btn-group-justified text-center " ng-click="shisetsu.save() " style="width:12em; " ng-show="!shisetsu.idPhase">
                            <span class="glyphicon glyphicon-save "></span>　保存</button>
                        <button type="button " class="btn btn-sm btn-success btn-group-justified text-center " ng-click="shisetsu.saveId() " style="width:12em; " ng-show="shisetsu.idPhase">
                            <span class="glyphicon glyphicon-save "></span>&nbsp;管理番号新規登録</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
<div id="footerArea2 ">
<div class="row " style="margin-top : 8px ">
<div class="col-sm-2 " style="text-align:center; ">
<a href="#/main " type="button " class="btn btn-xs btn-inverse btn-sm ">
<span class="glyphicon glyphicon-arrow-left "></span>　TOPページへ戻る</a>
</div>
<div class="col-sm-8 " style="text-align:center; ">
<button type="button " class="btn btn-xs btn-success btn-sm ">
<span class="glyphicon glyphicon-list-alt "></span>　新規施設登録</button>
</div>
<div class="col-sm-2 ">
<div class="col-sm-6 " style="text-align:center; ">
<button type="button " class="btn btn-xs btn-info btn-sm ">
<span class="glyphicon glyphicon-print "></span>　エクセル出力</button>
</div>
</div>
</div>
</div>
-->
</div>

<div class="waitOverlay " ng-show="shisetsu.waitOverlay ">
    <div style="width:100vw;height:100vh;font-size:60px;display: table-cell;text-align: center;vertical-align: middle; ">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw "></i>
        <br>
        <span>保存中です。しばらくお待ちください。</span>
    </div>
</div>
