<div class="container">
  <div class=" col-sm-12" style="margin-top:30px;">
    <h6>&nbsp;電気</h6>
    <hr class="style4">
  </div>
  <div class=" col-sm-12 form-inline " style="float:left;">
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">北電客番</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_hokuden_kyakuban" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">契約方式</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_keiyaku_houshiki" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">北電電柱引込</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_hikikomi" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
    <!--
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">回線ID（電話番号）</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_kaisen_id" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">回線客番号</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_kaisen_kyakuban" style="width:20em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
-->
  </div>
  <div class=" col-sm-12 form-inline " style="float:left;">
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">電気代（円／月）</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_denki_dai" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
    <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
      <label class="form-control-label text-center margin">
        <p class="label">電力量（kw／h）</p>
      </label>
      <div class="form-inline">
        <input type="text" class="form-control input-sm" ng-model="famedit.daichou.d_denki_ryou" style="width:15em; text-align: left" ng-disabled="!famedit.editable">
      </div>
    </div>
  </div>
</div>
