<uib-tabset active="active">
  <uib-tab index="0">
    <uib-tab-heading>
      <span style="font-size:16px;">施設情報</span>
    </uib-tab-heading>
    <div class="container">
      <div class=" col-sm-12 form-inline " style="float:left;margin-top:10px;">
        <div class="form-group text-left" style="margin-right:10px;">
          <label class="form-control-label text-center margin">
            <p class="label">運営区分</p>
          </label>
          <div class="form-inline">
            <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.unei_kbn_cd" ng-options="unei_kbn_row.unei_kbn_cd as unei_kbn_row.unei_kbn for unei_kbn_row in famedit.unei_kbn_arr" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
              <option value="">---</option>
            </select>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin-right:20px;">
          <label class="form-control-label text-center margin">
            <p class="label">気象台登録年度</p>
          </label>
          <div class="form-inline">
            <div class="form-group">
              <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.kisyoudai_rgst_row" ng-options="nendo as nendo.gengou for nendo in famedit.secchi_nendo" style="width:8em; text-align: left" ng-disabled="famedit.daichou.humei==1 || !famedit.editable">
                <option value="">---</option>
              </select>
            </div>
            <div class="input-group">
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" ng-model="famedit.chk_humei" ng-checked="famedit.daichou.humei==1" ng-click="famedit.humeiClick()" ng-disabled="!famedit.editable">
              <p class="label">不明</p>
            </div>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 20px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">無線名称</p>
          </label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control input-sm" ng-model="famedit.daichou.musen_nm" style="width:14em; text-align: left" ng-disabled="!famedit.editable">
            </div>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin-right:20px;">
          <label class="form-control-label text-center margin">
            <p class="label">無線免許番号</p>
          </label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control input-sm" ng-model="famedit.daichou.musen_menkyo_no" style="width:14em; text-align: left" ng-disabled="!famedit.editable">
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <hr class="style4">
      </div>
      <div class=" col-sm-12 form-inline " style="float:left; margin-top:10px;">
        <div class="form-group" style="margin:0px 40px 0 15px;">
          <p class="control-label label2">気温計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.kion_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.kion_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.kion_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">風向風速計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.huukouhuusoku_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.huukouhuusoku_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.huukouhuusoku_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">雨雪量計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.usetsuryou_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.usetsuryou_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.usetsuryou_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">路面温度</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.romenondo_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.romenondo_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.romenondo_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>
      </div>
      <div class=" col-sm-12 form-inline " style="float:left; margin-top:10px;">
        <div class="form-group" style="margin:0px 40px 0 15px;">
          <p class="control-label label2">視程計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.shitei_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.shitei_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.shitei_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">積雪深計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.sekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.sekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.sekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">路面積雪深計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.romensekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.romensekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.romensekisetsushin_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>

        <div class="form-group" style="margin-right:40px;">
          <p class="control-label label2">路面凍結計</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.romentouketsu_kei" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.romentouketsu_kei" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.romentouketsu_kei" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <hr class="style4">
      </div>
      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group" style="margin:0 40px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">雨雪量計検定日</p>
          </label>
          <div class="form-inline">
            <div class="input-group">
              <input name="input" ng-model="famedit.daichou.usetsuryou_kei_kentei_dt" uib-datepicker-popup="" is-open="status1.opened" class="form-control input-sm" current-text="今日" clear-text="クリア" close-text="閉じる" datepicker-options="{showWeeks:false}" style="width:9.2em; text-align: left" ng-disabled="true">
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" ng-click="status1.opened = !status1.opened" style="height:35px" ng-disabled="famedit.daichou.mikentei_u==1 || !famedit.editable"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
            <div class="input-group">
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" ng-model="famedit.chk_mikentei_u" ng-checked="famedit.daichou.mikentei_u==1" ng-click="famedit.mikenteiClick(1)" ng-disabled="!famedit.editable">
              <p class="label">未検定</p>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin:0 40px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">風向風速計検定日</p>
          </label>
          <div class="form-inline">
            <div class="input-group">
              <input name="input" ng-model="famedit.daichou.huukouhuusoku_kei_kentei_dt" uib-datepicker-popup="" is-open="status2.opened" class="form-control input-sm" current-text="今日" clear-text="クリア" close-text="閉じる" datepicker-options="{showWeeks:false}" style="width:9.2em; text-align: left" ng-disabled="true">
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" ng-click="status2.opened = !status2.opened" style="height:35px" ng-disabled="famedit.daichou.mikentei_h==1 || !famedit.editable"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div class="input-group">
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" ng-model="famedit.chk_mikentei_h" ng-checked="famedit.daichou.mikentei_h==1" ng-click="famedit.mikenteiClick(2)" ng-disabled="!famedit.editable">
              <p class="label">未検定</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </uib-tab>
  <uib-tab index="1">
    <uib-tab-heading>
      <span style="font-size:16px;">通信回線・電気</span>
    </uib-tab-heading>
    <div ng-include="famedit.tuushinkaisen_denki"></div>
  </uib-tab>
</uib-tabset>
