<uib-tabset active="active">
  <uib-tab index="0">
    <uib-tab-heading>
      <span style="font-size:16px;">施設情報</span>
    </uib-tab-heading>
    <div class="container">
      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">灯柱番号</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.toutyuu_no" style="width:12em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">設置部位</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.secchi_bui" style="width:25em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">交差路線</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.kousa_rosen" style="width:13em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
      </div>

      <div class=" col-sm-12 form-inline " style="float:left;">
        <h6 style="margin:10px 10px 0 15px;">&nbsp;ポール形式</h6>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">支柱高</p>
          </label>
          <div class="form-inline">
            <input type="number" class="form-control input-sm disabled-color" ng-model="famedit.daichou.shichuu_kou" style="width:6em; text-align: left" min="0" max="100" ng-disabled="!famedit.editable">
            <span class="infont">&nbsp;m</span>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">幅</p>
          </label>
          <div class="form-inline">
            <input type="number" class="form-control input-sm" ng-model="famedit.daichou.haba" style="width:6em; text-align: left" min="0" max="100" ng-disabled="!famedit.editable">
            <span class="infont">&nbsp;m</span>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">規格</p>
          </label>
          <div class="form-inline">
            <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.pole_kikaku_row" ng-options="row as row.pole_kikaku for row in famedit.pole_kikaku_arr" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
              <option value="">---</option>
            </select>
            <text class="form-control input-sm" ng-disabled="true" style="width:10em; text-align: left;margin-left:5px;">{{famedit.daichou.shichuu_kou}}<span ng-show="famedit.daichou.shichuu_kou && (famedit.daichou.haba || famedit.daichou.pole_kikaku_row)">-</span>{{famedit.daichou.haba}}{{famedit.daichou.pole_kikaku_row.pole_kikaku}}</text>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 5px 0 5px;">
          <label class="form-control-label text-center margin">
            <p class="label">備考</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.pole_kikaku_bikou" style="width:18.6em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
      </div>

      <div class=" col-sm-12">
        <hr class="style4">
      </div>
      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">車道①／ランプ形式</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.syadou_ramp1" style="width:16em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 30px 0 5px;">
          <label class="form-control-label text-center margin">
            <p class="label">消灯</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.syadou_syoutou1" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">車道②／ランプ形式</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.syadou_ramp2" style="width:16em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 5px 0 5px;">
          <label class="form-control-label text-center margin">
            <p class="label">消灯</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.syadou_syoutou2" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
      </div>

      <div class=" col-sm-12">
        <hr class="style4">
      </div>

      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">歩道①／ランプ形式</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.hodou_ramp1" style="width:16em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 30px 0 5px;">
          <label class="form-control-label text-center margin">
            <p class="label">消灯</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.hodou_syoutou1" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">歩道②／ランプ形式</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.hodou_ramp2" style="width:16em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 5px 0 5px;">
          <label class="form-control-label text-center margin">
            <p class="label">消灯</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.hodou_syoutou2" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <hr class="style4">
      </div>
      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">灯具設置年度</p>
          </label>
          <div class="form-inline">
            <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.tougu_secchi_row" ng-options="nendo as nendo.gengou for nendo in famedit.secchi_nendo" style="width:auto; text-align: left" ng-disabled="!famedit.editable">
              <option value="">---</option>
            </select>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">ランプ数</p>
          </label>
          <div class="form-inline">
            <input type="number" class="form-control input-sm" ng-model="famedit.daichou.ramp_num" style="width:8em; text-align: left" min="0" max="100" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">調光</p>
          </label>
          <div class="form-inline">
            <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.tyoukou_umu_cd" ng-options="tyoukou_umu.tyoukou_umu_cd as tyoukou_umu.tyoukou_umu for tyoukou_umu in famedit.tyoukou_umu_arr" style="width:8em; text-align: left" ng-disabled="!famedit.editable">
              <option value="">---</option>
            </select>
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin:0 10px 0 15px;" ng-disabled="!famedit.editable">
          <label class="form-control-label text-center margin">
            <p class="label">タイマー</p>
          </label>
          <div class="form-inline">
            <select class="form-control input-sm btn-group-justified" ng-model="famedit.daichou.timer_umu_cd" ng-options="timer_umu.timer_umu_cd as timer_umu.timer_umu for timer_umu in famedit.timer_umu_arr" style="width:12em; text-align: left" ng-disabled="!famedit.editable">
              <option value="">---</option>
            </select>
          </div>
        </div>
        <div class="form-group" style="margin-left:20px;">
          <p class="control-label label2">消灯</p>
          <div class="radio-inline">
            <input type="radio" value="1" ng-model="famedit.daichou.syoutou" ng-disabled="!famedit.editable">
            <p class="label5">有</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="2" ng-model="famedit.daichou.syoutou" ng-disabled="!famedit.editable">
            <p class="label5">無</p>
          </div>
          <div class="radio-inline">
            <input type="radio" value="0" ng-model="famedit.daichou.syoutou" ng-disabled="!famedit.editable">
            <p class="label5">不明</p>
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <hr class="style4">
      </div>

      <div class=" col-sm-12 form-inline " style="float:left;">
        <div class="form-group input-append text-left" style="margin:0 20px 0 15px;">
          <label class="form-control-label text-center margin">
            <p class="label">設置業者</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.secchi_gyousya" style="width:14em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
        <div class="form-group input-append text-left" style="margin-right:20px;">
          <label class="form-control-label text-center margin">
            <p class="label">歩道照明支払者</p>
          </label>
          <div class="form-inline">
            <input type="text" class="form-control input-sm" ng-model="famedit.daichou.hodou_syoumei_payer" style="width:14em; text-align: left" ng-disabled="!famedit.editable">
          </div>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="1">
    <uib-tab-heading>
      <span style="font-size:16px;">電気</span>
    </uib-tab-heading>
    <div ng-include="famedit.denki"></div>
  </uib-tab>
</uib-tabset>
