<div class="row">
  <h6 style="margin-top:30px">&nbsp;法定点検</h6>
</div>
<div class="row" style="margin-top:15px;">
  <table class="fam01 table-bordered" style="word-break:break-all;">
    <tbody>
      <tr>
        <th style="width:200px">点検年</th>
        <th style="width:300px">PDF出力</th>
        <th style="width:200px" ng-if="famedit.editable">PDF取込み</th>
      </tr>
      <tr ng-repeat="houtei in famedit.houtei" flow-init="{target: 'api/index.php/UploadController/upload'}"
        flow-name="tenken_houtei.flow" flow-files-submitted="famedit.filesSubmitted($flow)" flow-attrs="{accept:'application/pdf'}"
        flow-file-success="famedit.houteiFileUploadSuccess( houtei.chk_mng_no, $file, $message, $flow )">
        <td>{{houtei.gengou}}</td>
        <td style="width:200px; padding: 0;">
          <table style="width: 100%;">
            <!-- ファイルダウンロードのリンク -->
            <tr ng-repeat="attach_file in houtei.attach_files">
              <td ng-style="$last ? {'border-bottom': 'none'} : {}">
                <a ng-if="attach_file.file_path" href=""
                  ng-click="famedit.downloadFile(attach_file.file_path,attach_file.file_name)" target="_blank">
                  {{attach_file.file_name}}</a>
              </td>
              <td ng-if="famedit.editable" style="border-left: 1px solid #ecf0f1;" ng-style="$last ? {'border-bottom': 'none'} : {}">
                <a ng-if="famedit.editable" href="" style="margin-left: 10px;"
                  ng-click="famedit.deleteHouteiFile(houtei.chk_mng_no, attach_file.attachfile_no);">ファイル削除</a>
              </td>
            </tr>
          </table>
        </td>
        <td ng-if="famedit.editable">
          <!-- ファイルアップロードのリンク -->
          <span ng-if="famedit.editable" flow-btn flow-attrs="{accept:'application/pdf'}"
            style="color: #18bc9c; text-decoration: underline; cursor: pointer;">アップロード</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div>※添付ファイルを保存する場合は、確定保存ボタンをクリックして確定してください</div>