<div class="row">
  <h6 style="margin-top:30px">&nbsp;定期パトロール</h6>
</div>
<div class="row" style="margin-top:15px;">
  <table class="fam01 table-bordered" style="word-break:break-all;">
    <tbody>
      <tr>
        <th style="width:200px">点検年</th>
        <th style="width:200px">異常の有無</th>
        <th style="width:200px">部材</th>
        <th style="width:200px">画面を開く（リスト表示）</th>
        <th style="width:200px"></th>
      </tr>
      <tr ng-repeat="patrol in famedit.teiki_patrol">
        <td>{{patrol.wareki_ryaku}}</td>
        <td>
          {{patrol.ijou_umu_flg ? "有" : "無"}}
        </td>
        <td>
          {{patrol.buzai}}
        </td>
        <td>
          <a ng-click="famedit.transitToTeikiPatrol()" style="cursor: pointer;">
            画面を開く</a>
        </td>
        <td>
          <button class="btn btn-sm btn-danger text-center"
            ng-click="famedit.downloadTeikiPatrolExcel(patrol.tenken_list_cd, patrol.tenken_list_name, patrol.tenken_list_detail_cd);" style="width:10em;">
            Excel出力</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>